<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.missfresh.sharelib">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 允许应用读取外部存储。 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- QQ分享添加 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent101438073"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity
            android:name=".activity.QqShareActivity"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity
            android:name=".activity.SinaShareActivity"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity
            android:name=".activity.WxShareCallBackActivity"
            android:theme="@style/TranslucentFullScreenTheme"/>
    </application>
</manifest>
